ion-card {
  margin: 10px;
  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  ion-card-content {
    text-align: center;
    a {
      color: #3880ff;
      text-decoration: none;
      font-weight: bold;
    }
  }
}
